<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
		xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
  <display-name>Tipo de cambio dolar</display-name>
  <listener>
  	<listener-class>mx.tipodecmabio.controller.TdcBackgroundTask</listener-class>
  </listener>
  <servlet>
  	<servlet-name>IndexServlet</servlet-name>
  	<servlet-class>mx.tipodecmabio.controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <context-param>
  	<param-name>BackgroundTasks</param-name>
  	<param-value>
  	mx.tipodecambio.controller.spiders.BanamexSpider, mx.tipodecambio.controller.spiders.BancomerSpider,
  	mx.tipodecambio.controller.spiders.BanorteSpider, mx.tipodecambio.controller.spiders.HsbcSpider,
  	mx.tipodecambio.controller.spiders.SantanderSpider, mx.tipodecambio.controller.spiders.SkotiabankSpider
  	</param-value>
  </context-param>
</web-app>
